{% extends 'components/layout.html' %} {% load static %} {% block content %}

<main class="container my-4">
    <h3 class="my-4 border-bottom pb-1">About Iconic AquaRech</h3>
    <div class="row">
        <div class="col-md-6">
            <p>
                Welcome to Iconic AquaRech, the premier web-based app
                revolutionizing the way fish vendors connect with consumers. Our
                mission is to bridge the gap between fish vendors and customers
                by leveraging the power of e-commerce and data-driven insights
                to meet the demand per area effectively.
            </p>
        </div>
        {% comment %}
        <div class="col-md-6">
            <img
                src="{% static 'web-assets/chemical-bottle.jpg' %}"
                class="img-fluid"
                alt="About Iconic AquaRech"
            />
        </div>
        {% endcomment %}
    </div>

    <h3 class="my-4 border-bottom pb-1">Who We Are</h3>
    <div class="row">
        <div class="col-md-6">
            <p>
                Iconic AquaRech is a cutting-edge platform designed to support
                fish vendors in expanding their reach and enhancing their sales.
                We understand the unique challenges faced by fish vendors in
                accessing broader markets and meeting consumer demands. Our team
                comprises experts in e-commerce, marketing, and fisheries, all
                dedicated to providing innovative solutions that benefit both
                vendors and consumers.
            </p>
        </div>
        {% comment %}
        <div class="col-md-6">
            <img
                src="{% static 'web-assets/chemical-bottle.jpg' %}"
                class="img-fluid"
                alt="About Iconic AquaRech"
            />
        </div>
        {% endcomment %}
    </div>

    <h3 class="my-4 border-bottom pb-1">Our Vision</h3>
    <div class="row">
        <div class="col-md-6">
            <p>
                Our vision is to create a thriving, sustainable marketplace
                where fish vendors can seamlessly connect with consumers who
                value fresh, high-quality seafood. We aim to empower vendors
                with the tools they need to succeed in the digital age while
                ensuring consumers have easy access to the best seafood products
                available.
            </p>
        </div>
        {% comment %}
        <div class="col-md-6">
            <img
                src="{% static 'web-assets/chemical-bottle.jpg' %}"
                class="img-fluid"
                alt="About Iconic AquaRech"
            />
        </div>
        {% endcomment %}
    </div>

    <h3 class="my-4 border-bottom pb-1">What We Do</h3>
    <div class="row">
        <div class="col-md-6">
            <p>
                <b>E-Commerce Marketing:</b> Iconic AquaRech provides fish
                vendors with a robust e-commerce platform that allows them to
                showcase their products to a wider audience. Our app features
                user-friendly interfaces, secure payment gateways, and
                comprehensive marketing tools to help vendors maximize their
                online presence and sales.
            </p>
            <p>
                <b>Demand-Based Matching:</b> Using advanced data analytics,
                Iconic AquaRech matches fish vendors with consumers based on
                demand in specific areas. This ensures that vendors can
                efficiently meet consumer needs while minimizing waste and
                optimizing inventory management.
            </p>
            <p>
                <b>Real-Time Data Insights:</b> Our app offers real-time data
                insights and analytics, enabling vendors to make informed
                decisions about pricing, inventory, and marketing strategies. By
                understanding market trends and consumer preferences, vendors
                can tailor their offerings to better meet demand.
            </p>
            <p>
                <b>Sustainable Practices:</b> Iconic AquaRech is committed to
                promoting sustainable fishing practices and supporting vendors
                who prioritize environmental responsibility. We believe in
                fostering a marketplace that not only thrives economically but
                also preserves our precious aquatic resources for future
                generations.
            </p>
            <p>Why Choose Iconic AquaRech?</p>
            <ul>
                <li>
                    <b>Ease of Use:</b> Our intuitive platform is designed for
                    ease of use, allowing vendors to quickly set up their online
                    stores and start selling.
                </li>
                <li>
                    <b>Increased Reach:</b> Expand your customer base by connecting
                    with consumers who are specifically looking for seafood
                    products in your area.
                </li>
                <li>
                   <b> Data-Driven Decisions:</b> Leverage powerful data analytics to
                    make smarter business decisions and stay ahead of market
                    trends.
                </li>
                <li>
                   <b> Secure Transactions:</b> Enjoy peace of mind with secure payment
                    processing and reliable customer support.
                </li>
                <li>
                    <b>Community Support:</b> Join a community of like-minded vendors
                    and consumers dedicated to supporting sustainable fishing
                    practices and fresh, quality seafood.
                </li>
            </ul>
        </div>
    </div>
</main>

{% endblock %}
